body {
	overflow-y: hidden;
	background-image: url(img/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: "Ubuntu", sans-serif;
}

.box1{
		display:block;
		height: 35px;
		width: 160px;
		background-color: #42f4ce;
		color:black;
		text-align: center;
		font-weight: bold;
		border-radius: 4px;
		margin-top: 5%;
		margin-left:calc(50% - 85px);
		font-size: 25px;
		padding: 5px;
}
.box2{
		height: 35px;
		width: 160px;
		background-color: #42f4ce;
		color:black;
		text-align: center;
		font-weight: bold;
		border-radius: 4px;
		float: left;
		margin-left:calc(25% - 85px);
		font-size: 25px;
		padding:5px;
}
.box3{
		height: 35px;
		width: 160px;
		background-color: #42f4ce;
		color:black;
		text-align: center;
		font-weight: bold;
		border-radius: 4px;
		float: right;
		margin-right:calc(25% - 85px);
		font-size: 25px;
		padding:5px;
}
a:link{
		color: none; 
		text-decoration: none
}