body {
	overflow-y: hidden;
	background-image: url(img/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: "Ubuntu", sans-serif;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100vh;
}
.flex2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.box{
		height: 35px;
		width: 160px;
		background-color: #42f4ce;
		color: black;
		font-weight: bold;
		border-radius: 4px;
		font-size: 25px;
		padding: 5px;
		margin: auto;
		text-align: center;
}

a:link{
		color: none; 
		text-decoration: none
}